<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">create route</button>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Route</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {{form_2.hidden_tag()}}
          <p>
            {{form_2.route_name.label}}<br>
            {{form_2.route_name(size=32)}}
          </p>
            {{form_2.start.label}}<br>
            {{form_2.start(size=32)}}
          </p>
          <p>
            {{form_2.city1.label}}<br>
            {{form_2.city1(size=32)}}
          </p>
          <p>
            {{form_2.city2.label}}<br>
            {{form_2.city2(size=32)}}
          </p>
          <p>
            {{form_2.city3.label}}<br>
            {{form_2.city3(size=32)}}
          </p>
          <p>
            {{form_2.city4.label}}<br>
            {{form_2.city4(size=32)}}
          </p>
          <p>
            {{form_2.end.label}}<br>
            {{form_2.end(size=32)}}
          </p>
          <p>{{ form_2.submit()}}</p>
        </form>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>-->
    </div>
  </div>
</div>