<div class="poster-card">
    <div class="card post-body">
        
        <div class="card-block">
            <table class="table card-text">
                <th><span class="post-item-title">Item</span></th>
                <tr>
                   {%if post.statue %}
                        <td style="color:green;">received</td>

                    {%else%}

                        <td style="color:orange">enroute</td>
                    {%endif%}
                </tr>
                <tr>
                    <td><b>Item name:</b></td><td>{{post.name}}</td>
                </tr>
                <tr>
                    <td><b>Quantity:</b></td><td>{{post.quantity}}</td>
                <tr>
                    <td><b>Destination:</b></td><td>{{post.destination}}</td>
                </tr>
                <th><span class="post-item-title"> Recipient's details</span></th>
                <tr>
                    <td><b>Recipient :</b></td><td>{{post.r_email}}</td>
                </tr>
                <tr>
                    <td><b>ID No:</b></td><td>{{post.id_no}}</td>
                </tr>
                <tr>
                    <td><b>Phone no:</b></td><td>{{post.phone_no}}</td>
                </tr>
                <tr>
                    {%if post.body %}
                        <td><b>Other:</b></td><td>{{post.post}}</td>
                    {%endif%}
                </tr>
            </table>
        </div>
        <div class="card-footer"><p class="card-text pull-right">Sent: {{moment(post.timestamp).fromNow()}}</p></div>
    </div>
</div>